@charset "UTF-8";
.help-btn {
  background: #fff;
  border: 2px solid #000;
}

header .header--right form, header .header--right input[type="text"], header .header--right input[type="submit"] {
  position: relative;
  float: left;
}

header .fancybox, header .header--right input[type="submit"], .acved form input[type="submit"], .make-request input[type="submit"], #credit-company .infos .info a, .acts.list .act .download, #new-incubator .top-block .right .fancybox, .any-questions > div a.fancybox, .content .bx-authform .btn-primary, .news-page .subscribe a, .news-page .news-block .read-more, #main .content .right .search input[type="submit"], #main .content .left .all, .forms input[type="submit"], .forms .calc-btn, body.color2 input[type="submit"], body.color2 .calc-btn, .btn-new, .forms__label--file:before {
  background-color: #000;
  border: 2px solid #fff;
  outline: 3px solid #000;
  color: #fff;
}

input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000;
  text-transform: uppercase;
  font-style: italic;
}

input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input:not([type])::-moz-placeholder, textarea::-moz-placeholder {
  color: #000;
  text-transform: uppercase;
  font-style: italic;
}

input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input:not([type]):-moz-placeholder, textarea:-moz-placeholder {
  color: #000;
  text-transform: uppercase;
  font-style: italic;
}

input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000;
  text-transform: uppercase;
  font-style: italic;
}

* {
  box-shadow: none !important;
  font-family: "Times New Roman", serif;
  transition: none !important;
}

html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  min-width: 930px;
  position: relative;
  line-height: 1.3;
  font-family: "Times New Roman", serif;
  font-weight: 300;
  padding-top: 50px;
}

body.color2 {
  background-color: #000;
  color: #fff !important;
}

.support-grid__cont {
  margin: 0 0 -30px 0;
}

.header__menu-el:not(:first-child) a {
  padding: 0 !important;
  background: transparent !important;
}

.logo__special-title {
  display: block;
}

.header-special {
  display: none;
}

.header-main__contact-phone {
  padding-right: 15px;
}

.wrapper, header, main, .access {
  position: relative;
  max-width: 930px;
  box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}

.support-top__info {
  background: none;
}

.text-page img {
  display: none;
}

a {
  color: #000 !important;
  text-decoration: none;
  font-weight: 300;
}

.header .wrapper {
  padding: 0;
}

.access {
  height: 46px;
  background: url(../img/access/access.png) no-repeat 0 0;
  font-size: 17px;
  color: #000;
  position: fixed;
  left: calc(50% - 465px);
  top: 0;
  width: 929px;
  z-index: 1000;
  padding: 0;
  display: block;
}

.access .user, .access .special {
  float: right;
  margin-right: 20px;
  color: #000;
  margin-top: 10px;
}

.access .user a, .access .special a {
  color: inherit;
}

.access a.special {
  padding: 0;
}

.access .header-special__links-cont {
  padding-right: 15px;
  margin-top: 13px;
}

.top-poloska, .header-main__logo-img {
  display: none;
}

.header-main {
  position: relative;
  padding-bottom: 80px;
  padding-left: 0;
}

.header-main__logo {
  font-size: 34px;
  text-transform: uppercase;
  line-height: 38px;
}

.header-main__contact {
  margin-top: 0;
}

.header-main__search {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  margin-left: 0;
  width: 100%;
}

header, main, footer, aside {
  background: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea, select {
  border: 1px solid #000 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
  color: #000 !important;
}

.header-main__contact-btn, header .fancybox, .main-slider__slide-btn, .bx-authform .btn-primary, #new-incubator .top-block .right .fancybox, .any-questions .fancybox, .news-page .printY, .news-page .news-block .read-more, .news-page .subscribe .fancybox, .acts.list .act .download, .make-request input[type="submit"], .search-page form input[type="submit"], .acved form input[type="submit"], #credit-company .infos .info a, footer .call address button, #main .content .left .all, .forms input[type="submit"], .print_page .content .btn_print, .make-req__btn,
header form input[type="submit"], .inn-search__submit, .calc-btn, .btn-new, .b24-web-form-popup-btn-16, .btn {
  border: 1px solid #000 !important;
  color: #000 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
  white-space: nowrap;
}

.contacts__item-head {
  padding: 35px 25px;
}

header form input[type="submit"] {
  padding-top: 0;
  padding-bottom: 0;
  height: 53px;
}

header {
  margin: 20px auto;
}

header .logo {
  border-color: #000;
}

header .logo img {
  margin-right: 10px;
}

header .logo span {
  width: 300px;
  color: #000;
  margin-left: 0;
  margin-top: 0;
}

header .phone a {
  color: #000;
}

header .contact {
  width: 530px;
}

header .fancybox {
  float: right;
  margin-left: 0;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
}

header .header--right {
  width: 100%;
  margin-left: 0;
  margin-top: 20px;
  border: none;
  padding: 0;
}

header .header--right form {
  width: 760px;
}

header .header--right input[type="text"] {
  border-radius: 0;
  background: transparent;
  border: 2px solid #000;
  width: 600px;
}

header .header--right input[type="submit"] {
  margin-left: 10px;
  margin-top: 3px;
  position: relative;
  top: initial;
  right: initial;
  border-radius: 0;
  box-sizing: border-box;
  height: 47px;
  padding: 0 20px;
}

header .header--right .user {
  float: right;
  position: relative;
  margin-top: 15px;
  bottom: initial;
  left: initial;
}

.header__menu {
  background: none;
}

.header__menu-cont {
  display: block;
  height: auto;
}

.header__menu-list {
  display: block;
}

.header__menu-el {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
  margin-bottom: 15px;
}

.header__menu-el > a {
  font-weight: bold;
  font-size: 1.1875rem;
  text-transform: uppercase;
  text-align: left;
}

.header__menu-el a {
  position: relative;
  display: inline;
  text-decoration: underline;
}

.header__menu-el:before {
  display: none;
}

.header__menu-el.dropdown {
  display: block;
}

.header__menu-el.dropdown > a {
  text-decoration: none;
}

.header__menu-link {
  height: auto;
  padding: 0;
  background: none !important;
}

.submenu {
  transition: none;
  transform: none;
  position: relative;
  border: none;
  display: block;
  background: none;
  margin-top: 15px;
  margin-bottom: 5px;
}

.submenu__el {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.submenu__link {
  padding: 0;
}

.main-slider {
  height: auto;
  max-width: 930px;
  margin: 20px auto 0;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.main-slider:after {
  content: "";
  display: table;
  clear: both;
}

.main-slider__slide {
  display: block !important;
  height: auto;
  float: left;
  width: 48%;
  margin-top: 35px;
  overflow: visible;
}

.main-slider__slide:not(:nth-child(2n + 1)) {
  margin-left: 4%;
}

.main-slider__slide .wrapper {
  position: relative;
  padding: 0;
  width: auto;
}

.main-slider__slide-bg {
  display: none;
}

.main-slider__slide-desc-cont {
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

.main-slider__slide-title {
  padding: 0;
  background: none;
  color: #000;
  font-size: 26px;
  line-height: 26px;
  text-transform: none;
}

.main-slider__slide-text, .main-slider__slide-btn {
  margin-top: 10px;
}

.inn-search__lab {
  padding-left: 0;
  float: none;
}

.inn-search__form {
  float: none;
  margin-top: 10px;
}

.inn-search__form-cont {
  border: 0;
}

.inn-search__submit {
  margin-left: -1px;
}

.main-top__info-block {
  padding: 0;
  background: none;
}

.main-top__info-top-wrap {
  background: none;
  padding: 0;
  text-align: left;
}

.main-top__info-bot {
  padding: 0;
}

.main-top__info-how-to {
  margin-top: 10px;
}

.main-top__info-title {
  border: 0;
  padding-left: 0;
}

.main-top__left {
  width: 61%;
}

.main-top__right {
  width: 36.57%;
}

.calendar {
  background: none;
}

.calendar__title {
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 0;
  text-align: right;
}

.calendar-body__padding {
  padding: 0;
  background: none;
}

.calendar-body-cont {
  padding: 0;
}

.calendar-filter {
  text-align: right;
}

.calendar-filter__select {
  border: 1px solid #000;
  display: inline-block;
  float: none;
}

.calendar-filter__select:not(:first-child) {
  margin-left: 20px;
}

.calendar .calendar__cell {
  color: #000;
}

.calendar .calendar__cell--link {
  font-weight: bold;
}

.calendar .calendar__cell--another {
  opacity: .6;
}

.faq__title {
  text-transform: none;
}

.faq__block-head {
  border: 0 !important;
  background: none !important;
  cursor: default;
  padding: 0;
}

.faq__block-head:after {
  display: none;
}

.faq__block-text-cont {
  display: block;
  background: none;
  padding: 0;
  margin-top: 10px;
}

.faq__block:not(:first-child) {
  margin-top: 30px;
}

.faq__block-title {
  font-size: 1.5rem;
}

.main-news {
  border: 0;
  padding: 0;
}

.main-news__title {
  text-transform: none;
}

.main-news__all {
  text-decoration: underline;
  background: none;
}

.main-news__one-img-cont {
  display: none;
}

.partners {
  padding: 0;
}

.partners a {
  height: auto;
  min-height: 0;
  display: block !important;
  margin-right: 20px;
  margin-left: 0 !important;
  padding: 0;
  line-height: 1.3;
  margin-bottom: 10px;
  border: 0;
  background: none !important;
  display: inline;
}

.partners a span {
  padding-left: 0;
  text-decoration: underline;
}

.main-news__one {
  width: 100%;
}

.main-news__one-title {
  height: auto;
}

.support-top {
  background: none;
  border: 0;
  padding: 0;
}

.support-top__info {
  padding: 0;
}

.support-top__info-title {
  text-transform: none;
}

.support-top__info-desc {
  padding-left: 0;
  border: 0;
}

.inn-search__lab--right {
  text-align: left;
  padding: 0;
  background: none;
}

.support-grid__cont {
  margin-bottom: 0;
  margin-left: -30px;
}

.support-grid__title {
  text-transform: none;
}

.support-grid__el {
  border: 1px solid #0f2645;
  padding: 1.4rem;
}

.support-grid__el-img {
  display: none;
}

.support-grid__el-text {
  display: block;
  width: 100%;
  margin-left: 0 !important;
}

.support-grid__el-text p {
  display: inline;
}

.support-grid__el-text:before {
  content: "-";
  display: inline-block;
  margin-right: 4px;
}

.faq-cont {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-bottom: none;
}

.faq__block {
  padding: 15px;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 1px solid;
  margin: 0 !important;
}

.faq__block:nth-child(odd) {
  border-right: 1px solid;
}

.faq__block-text .text-page {
  margin: 20px 0 0;
}

.faq__block-title {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid;
}

.faq__block-head--support:before {
  display: none;
}

.support-slider {
  background: none;
}

.support-slider__slide {
  display: block !important;
}

.support-slider__slide:not(:first-child) {
  margin-top: 20px;
}

.support-slider__slide-img {
  display: none;
}

.support-slider__slide-desc {
  padding: 0;
  float: none;
  width: 100%;
}

.support-slider__slide-title {
  text-transform: none;
  font-size: 26px;
  padding-left: 0;
  border: 0;
  margin-bottom: 0;
}

.support-slider__slide-text {
  margin-top: 10px;
}

.make-req {
  background: none;
  padding: 0;
}

.make-req__title {
  font-size: 28px;
  font-weight: bold;
  text-transform: none;
  max-width: 100%;
  color: #000;
}

.make-req__btn {
  position: relative;
  left: 0;
  top: 0;
  margin-top: 20px;
}

.support-banner__bg {
  display: none;
}

.support-banner__text-cont {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

.support-banner:after {
  display: none;
}

.support-contacts {
  background: none !important;
  text-align: left;
  padding: 0;
  border: none;
}

.support-contacts__cont {
  display: block;
}

.support-contacts__left, .support-contacts__right {
  display: block;
  padding: 0;
}

.support-contacts__right {
  border-left: 0;
  margin-top: 25px;
}

.inner-footer {
  margin-top: 70px;
}

.footer-nav {
  background: none;
  text-align: left;
}

.footer-nav .header__menu-el {
  margin-bottom: 0;
}

footer {
  padding: 30px 0;
}

.acved form input {
  border-radius: 0 !important;
}

.acved form input[type="text"] {
  border: 2px solid #000;
}

.acved form input[type="submit"] {
  position: relative;
  margin-left: 0;
}

.ministr .title span {
  background: transparent;
}

.history:after {
  display: none;
}

.history .slider {
  border: none;
  width: 100%;
}

.history .slider:after, .history .slider:before {
  display: none;
}

.history .slider .slide {
  background-image: none !important;
  margin-bottom: 30px;
  padding: 0;
}

.history .slider .slide span {
  background: none;
}

.history .slider .slide > div {
  width: 100%;
}

.oo {
  width: 100%;
}

.oo img {
  display: none;
}

.make-request {
  border-color: #000;
}

.make-request input[type="submit"] {
  border-radius: 0;
}

.make-request .title {
  padding-left: 0;
}

.make-request .title:before {
  display: none;
}

.make-request:after, .make-request:before {
  display: none;
}

.paginator {
  margin-top: 20px;
}

#credit-company {
  background: transparent;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

#credit-company h2 {
  color: #000;
  margin-top: 0;
}

#credit-company .infos {
  position: relative;
  left: 0;
  border: none;
}

#credit-company .infos:after {
  display: none;
}

#credit-company .infos .info {
  width: 100%;
  height: auto;
  min-height: initial;
  border: none !important;
  float: none;
  padding: 0;
  margin-bottom: 20px;
  text-align: left;
}

#credit-company .infos .info a {
  position: relative;
  left: initial;
  bottom: initial;
  border-radius: 0;
  display: inline-block;
}

#credit-company .infos .info .title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

#credit-company .slider {
  margin-top: 0;
}

#credit-company .slider .slide {
  padding: 0;
}

#credit-company .slider .slide:after {
  display: none;
}

#credit-company .slider .slide div {
  float: none;
  width: 100%;
  margin-top: 0 !important;
  border-left: none;
}

#credit-company .slider .slide div:before {
  content: "-";
  position: absolute;
  top: calc(50% - 13px);
  left: 25px;
}

.acts {
  margin: 20px 0;
}

.acts.list {
  border: none;
  margin-top: 20px;
}

.acts.list .act {
  padding: 0 0 20px 0;
  border-color: #000;
}

.acts.list .act .date {
  font-size: 1.125rem;
  color: #000;
  margin-bottom: 5px;
}

.acts.list .act .download {
  margin-left: 0;
  float: right;
  border-radius: 0;
}

.acts.list .act .text {
  font-size: 1.25rem;
}

.acts.list .act + .act {
  margin-top: 20px;
}

#victory-slider.not-slider {
  margin-top: 0;
}

#victory-slider .text-block {
  background-image: none !important;
  padding-bottom: 60px;
}

#victory-slider .text-block .title {
  margin-bottom: 0;
}

#victory-slider .make-req {
  margin-top: 0 !important;
}

#victory-slider .make-req .top-block {
  background-image: none !important;
}

#victory .make-req, #victory-slider .make-req {
  margin-top: 50px;
}

#victory .make-req div, #victory-slider .make-req div {
  width: 100% !important;
}

#victory .top-block, #victory-slider .top-block {
  border: none;
  width: 100%;
  background: none;
  padding: 15px 10px;
}

#victory .top-block:after, #victory .top-block:before, #victory-slider .top-block:after, #victory-slider .top-block:before {
  display: none;
}

#victory .text-block .title span, #victory-slider .text-block .title span {
  background: none;
}

#victory .text-block img, #victory-slider .text-block img {
  display: none;
}

#victory .text-block .text, #victory-slider .text-block .text {
  width: 100%;
  padding: 0;
}

#support.small .section {
  height: auto;
}

#support.small .section p {
  color: #000;
}

#support h2 {
  margin-left: 0;
}

#support h2:before {
  display: none;
}

#support .section {
  margin-left: 0;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

#support .section.big {
  height: auto;
}

#support .section li, #support .section span {
  color: #000;
}

#support .section h3 span {
  background: transparent;
}

#support .section ul {
  margin-top: 15px;
}

#support .section.left .left {
  width: 100%;
  display: block;
  padding: 0;
}

#support .section.left .left > div {
  display: block;
  width: 100%;
}

#support .section.left .right {
  display: none;
}

#support .section.right .left {
  display: none;
}

#support .section.right .right {
  width: 100%;
  padding: 0;
}

#support .section .left, #support .section .right {
  background: transparent;
}

#structure h2 {
  text-indent: 0;
  text-align: left;
}

#structure .struct {
  counter-reset: i;
}

#structure .struct:after {
  display: none;
}

#structure .struct div {
  float: none !important;
}

#structure .struct > div {
  counter-increment: i;
  width: 100%;
  height: auto;
  margin-left: 0 !important;
  font-size: 1.375rem;
  margin-bottom: 20px;
}

#structure .struct .text {
  margin-left: 20px;
}

#structure .struct .number {
  border: none;
  position: absolute;
  background: transparent;
  height: auto;
  width: auto;
  padding: 0;
  font-size: 1.25rem;
}

#structure .struct .number:after, #structure .struct .number:before {
  display: none;
}

#new-incubator {
  margin: 20px 0;
  padding: 0;
  background: transparent;
}

#new-incubator.credit {
  margin-bottom: 30px;
}

#new-incubator .bot-block {
  margin-top: 20px;
  margin-bottom: 0;
}

#new-incubator .bot-block .slide {
  background: transparent;
}

#new-incubator .bot-block .text-block {
  background: transparent;
  padding: 0;
}

#new-incubator .center {
  margin-top: 20px;
}

#new-incubator .center h2 {
  margin-left: 0;
  color: #000;
}

#new-incubator .center h2:before {
  display: none;
}

#new-incubator .top-block {
  position: relative;
  top: initial;
  left: initial;
  width: 100% !important;
  height: auto !important;
}

#new-incubator .top-block .right {
  border-color: #000;
  background: transparent;
}

#new-incubator .top-block .right .timer > div div:first-child {
  background: transparent;
}

#new-incubator .top-block .right .timer > div div:last-child {
  font-size: 1.125rem;
}

#new-incubator .top-block .right .fancybox {
  border-radius: 0;
}

#new-incubator .top-block .left .text-block {
  width: 100%;
  padding: 0 10px;
}

#new-incubator .top-block .left .text-block .text {
  padding-left: 0;
}

#new-incubator .top-block .left .text-block h2 {
  margin-left: 0;
}

#new-incubator .top-block .left .text-block h2 span {
  background: none;
  color: #000;
}

#new-incubator .top-block .left .text-block:before {
  display: none;
}

#new-incubator .top-block:after {
  display: none;
}

#new-incubator .top-block div {
  background-image: none !important;
}

#new-incubator .top-block > div {
  width: 100% !important;
  box-sizing: border-box;
  padding: 20px 0 !important;
  float: none !important;
}

.acts .act-cont:after, .acts .act-cont:before {
  display: none;
}

.acts .act-cont a {
  width: auto;
}

.acts .act-cont .act {
  float: none;
  display: block !important;
  width: auto !important;
  height: auto;
  margin-left: 0 !important;
  border: none;
  margin-bottom: 20px !important;
  font-size: 1.25rem;
  color: #000 !important;
}

.acts .act-cont .act span {
  display: inline;
  padding: 0;
  border: none;
  color: #000;
}

.acts .act-cont .act span:after, .acts .act-cont .act span:before {
  display: none;
}

.events {
  margin-bottom: 0;
}

.events .title {
  border: 3px solid #000;
  cursor: auto;
}

.events .title:after {
  display: none;
}

.events .description {
  border-color: #000;
  max-height: 10000px;
}

.events .description:after {
  display: none;
}

.calendar-page {
  padding-top: 20px;
  padding-left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calendar-page:after {
  display: none;
}

.calendar-page .calendar .top {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.calendar-page .calendar .body {
  border: 1px solid #000;
  border-top: none;
}

.calendar-page .description {
  border: 1px solid #000;
  margin: 0 0 0 10px;
  padding: 28px 24px 32px;
  width: 490px;
  display: flex;
  align-items: center;
}

.calendar-page .description:after, .calendar-page .description:before {
  display: none;
}

#map {
  display: none;
}

.any-questions {
  background: transparent;
  padding: 0;
  margin: 20px 0 0;
  width: 100%;
}

.any-questions .title {
  color: #000;
}

.any-questions > div {
  width: 100%;
}

.any-questions > div a.fancybox {
  border-radius: 0;
  right: 0;
}

.any-questions:after, .any-questions:before {
  display: none;
}

.content {
  background: transparent;
}

.content .bx-authform {
  margin-top: 10px;
}

.content .bx-authform-link-container {
  font-size: 1rem;
}

.content .bx-authform-link-container a {
  font-size: 1rem;
}

.content .bx-authform-label-container {
  font-size: 1.125rem;
  margin-bottom: 5px;
  color: #000;
}

.content .bx-authform input[type="color"], .content .bx-authform input[type="date"], .content .bx-authform input[type="datetime"], .content .bx-authform input[type="datetime-local"], .content .bx-authform input[type="email"], .content .bx-authform input[type="month"], .content .bx-authform input[type="number"], .content .bx-authform input[type="password"], .content .bx-authform input[type="search"], .content .bx-authform input[type="tel"], .content .bx-authform input[type="text"], .content .bx-authform input[type="time"], .content .bx-authform input[type="url"], .content .bx-authform input[type="week"], .content .bx-authform input:not([type]), .content .bx-authform textarea {
  border: 2px solid #000;
  background: transparent;
}

.content .bx-authform .btn-primary {
  border-radius: 0;
}

.content .bread-crumbs {
  width: 100%;
}

.content .bread-crumbs a, .content .bread-crumbs span {
  color: #000;
  font-size: 1rem;
}

.content .bread-crumbs a {
  text-decoration: underline;
}

.content .bread-crumbs a:after {
  background: #000;
}

.news-page {
  margin-top: 20px;
}

.news-page .one-news .text {
  width: 100%;
  font-size: 1.25rem;
}

.news-page .one-news .top-block {
  background-image: none !important;
  height: auto;
}

.news-page .one-news .top-block .text-block {
  padding-left: 0;
  width: 100%;
}

.news-page .one-news .top-block .text-block .date {
  margin: 0;
  width: auto;
  background: none;
  display: block;
}

.news-page .one-news .top-block .text-block h2 {
  background: none;
}

.news-page .subscribe {
  background: transparent;
  padding: 0;
  float: none;
  width: 100%;
}

.news-page .subscribe a {
  float: right !important;
  margin-left: 0 !important;
  border-radius: 0 !important;
  background-color: #000 !important;
  color: #fff !important;
}

.news-page .subscribe .title {
  color: #000;
}

.news-page .archive {
  display: none;
}

.news-page .decorated-title .title span {
  float: none;
  width: 100%;
  background: none;
  color: #000;
  padding-left: 0;
}

.news-page .decorated-title .title span:after {
  display: none;
}

.news-page .decorated-title .title:after, .news-page .decorated-title .title:before {
  display: none;
}

.news-page:after {
  display: none;
}

.news-page .news-block {
  margin-left: 0 !important;
  width: 100%;
  float: none;
}

.news-page .news-block .read-more {
  border-radius: 0;
  float: none;
  display: inline-block;
}

.news-page .news-block .headline .date {
  color: #000;
}

.news-page .news-block .headline h2 a {
  color: #000;
  font-size: 1.125rem;
}

.news-page .tags a {
  color: #000;
  border-color: #000;
}

footer .call address:before {
  display: none;
}

footer {
  margin-left: 0;
  color: #000;
}

footer .soc {
  display: none;
}

footer .call {
  float: right;
}

footer .copy {
  float: left;
}

.foote-cont:after {
  content: "";
  display: table;
  clear: both;
}

.support-grid__subtitle table img {
  display: none;
}

.support-banner__text-cont {
  margin: 0;
}

.contacts-page .organs-list {
  border: 0;
}

.contacts-page .organs-list .title {
  margin-bottom: 10px;
  border: 0 !important;
  padding: 0 !important;
  border-bottom: 0 !important;
}

.contacts-page .organs-list .title:after {
  display: none;
}

.contacts-page .organs-list .slide-block {
  display: block !important;
  padding: 0;
  border-bottom: 0 !important;
}

.contacts-page .organs-list .slide-block .left a, .contacts-page .organs-list .slide-block .right a {
  border: 0 !important;
}

#main .content {
  padding-top: 0;
}

#main .content .partners {
  margin-top: 50px;
  position: relative;
}

#main .content .partners:before {
  content: "Партнёры:";
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
}

#main .content .partners a {
  padding: 0;
  border: none;
  width: auto;
  display: block;
  height: auto;
  min-height: 0;
  background: none !important;
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#main .content h2.title {
  width: 100%;
}

#main .content h2.title:after, #main .content h2.title:before {
  display: none;
}

#main .content h2.title span {
  float: none;
  background: none;
  color: #000;
  font-weight: bold;
  padding-left: 0;
}

#main .content h2.title span:after {
  display: none;
}

#main .content .wrapper {
  display: flex;
  flex-wrap: wrap;
}

#main .content .left, #main .content .right {
  width: 100%;
  float: none;
}

#main .content .right {
  margin-left: 0;
  order: -1;
  margin-bottom: 20px;
}

#main .content .right .calendar {
  display: none;
}

#main .content .right .search input[type="text"] {
  border: 2px solid #000;
  background: transparent;
}

#main .content .right .search input[type="submit"] {
  height: 68px;
  margin-top: 3px;
}

#main .content .left .all {
  border-radius: 0;
}

#main .content .left .important-news {
  margin-top: 20px;
}

#main .content .left .important-news .news {
  margin-top: 20px;
}

#main .content .left .important-news .news > div {
  border-color: #000;
}

#main .content .left .important-news .news .date {
  color: #000;
  font-size: 18px;
}

#main .content .left .important-news .news h3 a {
  color: #000;
  font-size: 20px;
}

#main .content .left .top-links:after, #main .content .left .top-links:before {
  display: none;
}

#main .content .left .top-links .link {
  float: none;
  display: block;
  width: auto;
  height: auto;
  background: transparent;
  margin-left: 0 !important;
  border: none;
  margin-bottom: 20px;
  font-size: 1.25rem;
}

#main .content .left .top-links .link:after {
  display: none;
}

#main .content .left .top-links .link span {
  display: inline;
  padding: 0;
  color: #000;
}

.fancybox-close {
  background: #000;
  border: 2px solid #fff;
}

.forms input[type="submit"], .forms .calc-btn {
  border-radius: 0;
}

body.color2 header .fancybox, header body.color2 .fancybox, body.color2 #credit-company .infos .info a, #credit-company .infos .info body.color2 a, body.color2 .acts.list .act .download, .acts.list .act body.color2 .download, body.color2 #new-incubator .top-block .right .fancybox, #new-incubator .top-block .right body.color2 .fancybox, body.color2 .any-questions > div a.fancybox, .any-questions > div body.color2 a.fancybox, body.color2 .content .bx-authform .btn-primary, .content .bx-authform body.color2 .btn-primary, body.color2 .news-page .subscribe a, .news-page .subscribe body.color2 a, body.color2 .news-page .news-block .read-more, .news-page .news-block body.color2 .read-more, body.color2 #main .content .right .search input[type="submit"], #main .content .right .search body.color2 input[type="submit"], body.color2 #main .content .left .all, #main .content .left body.color2 .all, body.color2 input[type="submit"], body.color2 .calc-btn, body.color2 .btn-new, body.color2 .forms__label--file:before, body.color2 .header-main__contact-btn, body.color2 header .fancybox, body.color2 .main-slider__slide-btn, body.color2 .bx-authform .btn-primary, body.color2 #new-incubator .top-block .right .fancybox, body.color2 .any-questions .fancybox, body.color2 .news-page .printY, body.color2 .news-page .news-block .read-more, body.color2 .news-page .subscribe .fancybox, body.color2 .acts.list .act .download, body.color2 .make-request input[type="submit"], body.color2 .search-page form input[type="submit"], body.color2 .acved form input[type="submit"], body.color2 #credit-company .infos .info a, body.color2 footer .call address button, body.color2 #main .content .left .all, body.color2 .forms input[type="submit"], body.color2 .print_page .content .btn_print, body.color2 .make-req__btn,
body.color2 header form input[type="submit"], body.color2 .calendar-filter__select {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #000 !important;
  outline-color: #fff !important;
  outline: 3px solid;
}

body.color2 .forms {
  background: #000;
  border: 2px solid #fff;
}

body.color2 *:not(option):not([class*=btn]) {
  border-color: #fff !important;
  color: #fff !important;
}

body.color2 .calendar__cell--link:hover {
  color: #000 !important;
}

body.color2 .access dt {
  color: #000 !important;
}

body.color2 input[type="color"], body.color2 input[type="date"], body.color2 input[type="datetime"], body.color2 input[type="datetime-local"], body.color2 input[type="email"], body.color2 input[type="month"], body.color2 input[type="number"], body.color2 input[type="password"], body.color2 input[type="search"], body.color2 input[type="tel"], body.color2 input[type="text"], body.color2 input[type="time"], body.color2 input[type="url"], body.color2 input[type="week"], body.color2 input:not([type]), body.color2 textarea {
  background: 000;
  border-radius: 0;
  color: #000 !important;
}

body.color2 input[type="color"]::-webkit-input-placeholder, body.color2 input[type="date"]::-webkit-input-placeholder, body.color2 input[type="datetime"]::-webkit-input-placeholder, body.color2 input[type="datetime-local"]::-webkit-input-placeholder, body.color2 input[type="email"]::-webkit-input-placeholder, body.color2 input[type="month"]::-webkit-input-placeholder, body.color2 input[type="number"]::-webkit-input-placeholder, body.color2 input[type="password"]::-webkit-input-placeholder, body.color2 input[type="search"]::-webkit-input-placeholder, body.color2 input[type="tel"]::-webkit-input-placeholder, body.color2 input[type="text"]::-webkit-input-placeholder, body.color2 input[type="time"]::-webkit-input-placeholder, body.color2 input[type="url"]::-webkit-input-placeholder, body.color2 input[type="week"]::-webkit-input-placeholder, body.color2 input:not([type])::-webkit-input-placeholder, body.color2 textarea::-webkit-input-placeholder {
  color: #fff;
}

body.color2 input[type="color"]::-moz-placeholder, body.color2 input[type="date"]::-moz-placeholder, body.color2 input[type="datetime"]::-moz-placeholder, body.color2 input[type="datetime-local"]::-moz-placeholder, body.color2 input[type="email"]::-moz-placeholder, body.color2 input[type="month"]::-moz-placeholder, body.color2 input[type="number"]::-moz-placeholder, body.color2 input[type="password"]::-moz-placeholder, body.color2 input[type="search"]::-moz-placeholder, body.color2 input[type="tel"]::-moz-placeholder, body.color2 input[type="text"]::-moz-placeholder, body.color2 input[type="time"]::-moz-placeholder, body.color2 input[type="url"]::-moz-placeholder, body.color2 input[type="week"]::-moz-placeholder, body.color2 input:not([type])::-moz-placeholder, body.color2 textarea::-moz-placeholder {
  color: #fff;
}

body.color2 input[type="color"]:-moz-placeholder, body.color2 input[type="date"]:-moz-placeholder, body.color2 input[type="datetime"]:-moz-placeholder, body.color2 input[type="datetime-local"]:-moz-placeholder, body.color2 input[type="email"]:-moz-placeholder, body.color2 input[type="month"]:-moz-placeholder, body.color2 input[type="number"]:-moz-placeholder, body.color2 input[type="password"]:-moz-placeholder, body.color2 input[type="search"]:-moz-placeholder, body.color2 input[type="tel"]:-moz-placeholder, body.color2 input[type="text"]:-moz-placeholder, body.color2 input[type="time"]:-moz-placeholder, body.color2 input[type="url"]:-moz-placeholder, body.color2 input[type="week"]:-moz-placeholder, body.color2 input:not([type]):-moz-placeholder, body.color2 textarea:-moz-placeholder {
  color: #fff;
}

body.color2 input[type="color"]:-ms-input-placeholder, body.color2 input[type="date"]:-ms-input-placeholder, body.color2 input[type="datetime"]:-ms-input-placeholder, body.color2 input[type="datetime-local"]:-ms-input-placeholder, body.color2 input[type="email"]:-ms-input-placeholder, body.color2 input[type="month"]:-ms-input-placeholder, body.color2 input[type="number"]:-ms-input-placeholder, body.color2 input[type="password"]:-ms-input-placeholder, body.color2 input[type="search"]:-ms-input-placeholder, body.color2 input[type="tel"]:-ms-input-placeholder, body.color2 input[type="text"]:-ms-input-placeholder, body.color2 input[type="time"]:-ms-input-placeholder, body.color2 input[type="url"]:-ms-input-placeholder, body.color2 input[type="week"]:-ms-input-placeholder, body.color2 input:not([type]):-ms-input-placeholder, body.color2 textarea:-ms-input-placeholder {
  color: #fff;
}

body.color2 a {
  color: #fff;
}

body.color2 header .logo {
  border-color: #fff;
}

body.color2 header .logo span {
  color: #fff;
}

body.color2 header .phone a {
  color: #fff;
}

body.color2 header .header--right input[type="text"] {
  border-color: #fff;
}

body.color2 .bread-crumbs a:after {
  background: #fff;
}

body.color2 .access .user, body.color2 .access .special {
  color: #000 !important;
}

body.color2 .access .user a, body.color2 .access .special a {
  color: #000 !important;
}

body.color3 {
  background: #9dd1ff;
}

body.color3 header .fancybox, header body.color3 .fancybox, body.color3 header .header--right input[type="submit"], header .header--right body.color3 input[type="submit"], body.color3 .acved form input[type="submit"], .acved form body.color3 input[type="submit"], body.color3 .make-request input[type="submit"], .make-request body.color3 input[type="submit"], body.color3 #credit-company .infos .info a, #credit-company .infos .info body.color3 a, body.color3 .acts.list .act .download, .acts.list .act body.color3 .download, body.color3 #new-incubator .top-block .right .fancybox, #new-incubator .top-block .right body.color3 .fancybox, body.color3 .any-questions > div a.fancybox, .any-questions > div body.color3 a.fancybox, body.color3 .content .bx-authform .btn-primary, .content .bx-authform body.color3 .btn-primary, body.color3 .news-page .subscribe a, .news-page .subscribe body.color3 a, body.color3 .news-page .news-block .read-more, .news-page .news-block body.color3 .read-more, body.color3 #main .content .right .search input[type="submit"], #main .content .right .search body.color3 input[type="submit"], body.color3 #main .content .left .all, #main .content .left body.color3 .all, body.color3 .forms input[type="submit"], .forms body.color3 input[type="submit"], body.color3 .forms .calc-btn, .forms body.color3 .calc-btn, body.color3 body.color2 input[type="submit"], body.color2 body.color3 input[type="submit"], body.color3 body.color2 .calc-btn, body.color2 body.color3 .calc-btn, body.color3 .btn-new, body.color3 .forms__label--file:before, body.color3 .header-main__contact-btn, body.color3 header .fancybox, body.color3 .main-slider__slide-btn, body.color3 .bx-authform .btn-primary, body.color3 #new-incubator .top-block .right .fancybox, body.color3 .any-questions .fancybox, body.color3 .news-page .printY, body.color3 .news-page .news-block .read-more, body.color3 .news-page .subscribe .fancybox, body.color3 .acts.list .act .download, body.color3 .make-request input[type="submit"], body.color3 .search-page form input[type="submit"], body.color3 .acved form input[type="submit"], body.color3 #credit-company .infos .info a, body.color3 footer .call address button, body.color3 #main .content .left .all, body.color3 .forms input[type="submit"], body.color3 .print_page .content .btn_print, body.color3 .make-req__btn,
body.color3 header form input[type="submit"] {
  border-color: #9dd1ff !important;
}

html.fontsize-small {
  font-size: 100%;
}

html.fontsize-normal {
  font-size: 115%;
}

html.fontsize-big {
  font-size: 129%;
}

body.color2 .header-special__links-link, body.color3 .header-special__links-link {
  color: #000 !important;
  border-color: #000 !important;
}

.special__body.page-calc__body .main-top__left {
  width: 100%;
}

.special__body.page-calc__body .main-top__right {
  display: none;
}

.calc {
  padding: 0;
  border: none;
}

.calc__wrap:first-child:before {
  border-color: #000;
}

.calc-table {
  width: 100%;
  font-size: 1.125rem;
}

.calc-table td, .calc-table th {
  background: none;
  border: 1px solid #000;
}

.calc-table tr:nth-child(even) td {
  background: none;
}

.ui-widget-content {
  background: #fff;
  border: 1px solid #000 !important;
}

.main-content .tags a {
  color: #000;
  border-color: #000;
}

.btn-event {
  background: transparent;
  border: 1px solid #000;
}

.header-main {
  padding-right: 0 !important;
}

.head-logo {
  display: none;
}

header {
  width: 100%;
  margin-top: 0 !important;
}

.header__menu-el.dropdown {
  margin-right: 0;
  display: none;
}

.main-nav {
  margin: 0;
}

.main-nav__title {
  padding-bottom: 15px;
  font-weight: bold;
}

.main-nav__cell {
  padding: 10px !important;
  vertical-align: middle;
  border: 1px solid;
}

.main-nav__item--link {
  padding: 0;
}

.main-nav__item--link span {
  padding: 0;
}

.main-nav__item-ico {
  display: none;
}

.main-top {
  flex-direction: column;
  display: flex;
}

.main-top__left, .main-top__right {
  width: 100%;
}

.main-top__right {
  order: 1;
  margin: 40px 0 0;
}

.main-top__info-top {
  width: 100%;
}

.main-content .main-top__right .calendar-filter__select {
  width: auto !important;
}

.main-content .main-top__right .calendar-filter__select--year {
  float: none !important;
}

.inn-search__lab {
  max-width: none;
}

.inn-search__form-cont {
  display: flex;
}

.inn-search__input {
  flex: 1 1 auto;
}

.inn-search__submit {
  flex: none;
}

.text-page > *:first-child {
  margin-bottom: 0 !important;
}

.text-page > *:not(:first-child) {
  margin: 15px 0 0 !important;
}

.text-page ul:not(:first-child), .text-page ol:not(:first-child) {
  margin-top: 0 !important;
}

.main-news__title-cont {
  margin-bottom: 15px;
}

.main-news-cont {
  border: 1px solid;
  border-bottom: none;
  margin: 0;
}

.main-news-cont > div {
  margin: 0;
  border-bottom: 1px solid;
  padding: 15px;
  width: 50%;
  box-sizing: border-box;
}

.main-news-cont > div:nth-child(odd) {
  border-right: 1px solid;
}

.main-news__one {
  padding: 0;
}

.main-news__one-date {
  margin-bottom: 10px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0;
}

.partners:before {
  content: "Полезные ссылки";
  width: 100%;
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 20px;
}

.partners a {
  border-top: 1px solid;
  border-right: 1px solid;
  margin: 0;
  padding: 15px;
  width: 33.33%;
}

.partners a:nth-last-child(1), .partners a:nth-last-child(2), .partners a:nth-last-child(3) {
  border-bottom: 1px solid;
}

.partners a:nth-child(3n + 1) {
  border-left: 1px solid;
}

.partners a:nth-child(even) {
  border-right: 1px solid;
}

.foote-cont:after {
  display: none;
}

.calendar__title {
  text-align: left;
  font-weight: bold;
  font-size: 1.875rem;
  margin-bottom: 20px;
  text-transform: none;
}

.calendar-body {
  border-collapse: collapse;
}

.calendar__cell {
  border: 1px solid;
}

footer .call {
  width: auto;
}

footer .call address {
  display: flex;
  flex-direction: column-reverse;
}

footer .call address .btn-new {
  margin-top: 0 !important;
}

footer .call address .phone {
  margin: 20px 0 0;
}

footer .copy {
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 40px;
}

footer .copy .title {
  max-width: 400px;
}

footer .copy address {
  margin-top: 0;
  max-width: 200px;
}

footer .copy .privacy_policy {
  margin: 30px 0 0;
  width: 100%;
}

select option {
  color: inherit !important;
}

.news-page .one-news .top-block .text-block .date, .news-page .one-news .top-block .text-block h2 {
  color: inherit;
  padding: 0;
}

.contacts__item {
  border-color: inherit;
}

.contacts__item-head {
  padding: 15px 20px;
}

.contacts-page.admin .address {
  background: none;
  padding: 0;
}

.organs-list {
  border: 1px solid  !important;
  display: flex;
  flex-wrap: wrap;
  border-bottom: none;
  margin-left: 0;
  margin-right: 0;
}

.organs-list .row {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 1px solid;
}

.organs-list .row:nth-child(odd) {
  border-right: 1px solid;
}

.organs-list .row div.title {
  margin-bottom: 15px;
  min-height: 46px;
}

.organs-list .row .title {
  font-weight: bold;
}

.organs-list .row span.title {
  margin-bottom: 1px !important;
}

.organs-list .row .slide-block .left, .organs-list .row .slide-block .right {
  width: 100%;
  padding: 0;
}

.organs-list .row .slide-block .right {
  margin: 10px 0 0;
}

.special__body .forms {
  padding: 0 !important;
  background: inherit;
}

/*# sourceMappingURL=special.css.map */
