<div id="comp_d0a178ba0ac2aa68da7e956bdf924923">
<div class="calendar">
<div class="calendar__title">Календарь мероприятий</div>
<div class="calendar-body-cont">
<div class="calendar-filter">
<select class="calendar-filter__select calendar-filter__select--month" onchange="b_result()" name="MONTH_SELECT" id="month_sel">
<option value="/get_support/mfc/?month=1&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Январь</option>
<option value="/get_support/mfc/?month=2&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Февраль</option>
<option value="/get_support/mfc/?month=3&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923" selected="">Март</option>
<option value="/get_support/mfc/?month=4&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Апрель</option>
<option value="/get_support/mfc/?month=5&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Май</option>
<option value="/get_support/mfc/?month=6&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Июнь</option>
<option value="/get_support/mfc/?month=7&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Июль</option>
<option value="/get_support/mfc/?month=8&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Август</option>
<option value="/get_support/mfc/?month=9&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Сентябрь</option>
<option value="/get_support/mfc/?month=10&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Октябрь</option>
<option value="/get_support/mfc/?month=11&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Ноябрь</option>
<option value="/get_support/mfc/?month=12&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">Декабрь</option>
</select>


<select class="calendar-filter__select calendar-filter__select--year" onchange="b_resultYear()" name="YEAR_SELECT" id="year_sel">
<option value="/get_support/mfc/?month=&amp;year=2017&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923">2017</option>
<option value="/get_support/mfc/?month=&amp;year=2018&amp;bxajaxid=d0a178ba0ac2aa68da7e956bdf924923" selected="">2018</option>
</select>


</div>
<div class="calendar-body__padding">
<div class="calendar-body">
<div class="calendar-row">
<span class="calendar__cell calendar__cell--another ">26</span>
<span class="calendar__cell calendar__cell--another ">27</span>

<span class="calendar__cell calendar__cell--another ">28</span>

<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=1'">
1                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<span class="calendar__cell">2</span>

<span class="calendar__cell">3</span>

<span class="calendar__cell">4</span>

</div>
<div class="calendar-row">


<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 2" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=5'">
5                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 2" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=6'">
6                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<span class="calendar__cell">7</span>

<span class="calendar__cell">8</span>

<span class="calendar__cell">9</span>

<span class="calendar__cell">10</span>

<span class="calendar__cell">11</span>

</div>
<div class="calendar-row">


<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=12'">
12                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=13'">
13                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 2" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=14'">
14                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 2" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=15'">
15                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=16'">
16                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<span class="calendar__cell">17</span>

<span class="calendar__cell">18</span>

</div>
<div class="calendar-row">


<span class="calendar__cell">19</span>

<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=20'">
20                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=21'">
21                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=22'">
22                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<span class="calendar__cell">23</span>

<span class="calendar__cell">24</span>

<span class="calendar__cell">25</span>

</div>
<div class="calendar-row">


<span class="calendar__cell">26</span>

<span class="calendar__cell">27</span>

<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 1" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=28'">
28                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<!--1111 -->
<a class="calendar__cell calendar__cell--link " title="Количество событий в этот день: 2" href="javascript:void(0);" onclick="location.href = '/kalendar-meropriyatiy/?month=3&amp;year=2018&amp;day=29'">
29                                    </a>
<!--                                    --><!--                                        <pre>-->
<!--                                           --><!--                                        </pre>-->
<!--                                    -->                                
<span class="calendar__cell">30</span>

<span class="calendar__cell">31</span>

<span class="calendar__cell calendar__cell--another ">1</span>

</div>
</div>
</div>
</div>


</div>

</div>