
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Chelbiznes</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700" rel="stylesheet"/>
    <meta name="description"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="css/common.css"/>
    <link rel="stylesheet" href="css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="css/fonts.css"/>
    <link rel="stylesheet" href="css/forms.css"/>
    <link rel="stylesheet" href="css/ui-slider.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/main_data.css"/>
  </head>
  <body class="main">
    <div id="popum-menu" style="display: none">
      <div class="popup-menu__wrap">
        <table class="popup-menu__content">
          <tbody class="popup-nav__list">
            <tr class="popup-nav__row">
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-message.png" alt=""/></div><span>Бесплатные консультации по всем вопросам ведения бизнеса</span></a></td>
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-blank.png" alt=""/></div><span>Поручительство по банковским кредитам при недостаточности залога</span></a></td>
            </tr>
            <tr class="popup-nav__row">
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-head.png" alt=""/></div><span>Образовательный проект бля тех, кто открывает свой бизнес “Азбука предпринимателя” </span></a></td>
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-razrabotka.png" alt=""/></div><span>Разработка технологических решений на производстве</span></a></td>
            </tr>
            <tr class="popup-nav__row">
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-blank2.png" alt=""/></div><span>Образовательный проект для развития Вашего бизнеса “Школа предпринимательства”</span></a></td>
              <td class="popup-nav__cell"> <a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-sodeystvie.png" alt=""/></div><span>Содействие в объединении производственных предприятий в кластер</span></a></td>
            </tr>
            <tr class="popup-nav__row"> 
              <td class="popup-nav__cell"> <a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-man.png" alt=""/></div><span>Тренинги, семинары и мастер-классы от ведущих бизнес-тренеров России </span></a></td>
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-zavod.png" alt=""/></div><span>Финансирование проектов развития промышленных предприятий</span></a></td>
            </tr>
            <tr class="popup-nav__row">
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-pay.png" alt=""/></div><span>Получение кредитов на льготных условиях </span></a></td>
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-world.png" alt=""/></div><span>Вывод продуктов на международный рынок </span></a></td>
            </tr>
            <tr class="popup-nav__row">
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-home.png" alt=""/></div><span>МФЦ для бизнеса с комфортом</span></a></td>
              <td class="popup-nav__cell"><a href="#" class="menu__item menu__item--link">
                  <div class="menu__item-ico"><img src="img/ico-stairs.png" alt=""/></div><span>Сопровождение инвестиционных проектов</span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <header class="header">
      <div class="wrapper">
        <div class="header-special"><a href="#" class="header-special__link">Версия для слабовидящих</a>
          <div class="header-special__links-cont"><a href="#" class="header-special__links-link">Вход</a><a href="#" class="header-special__links-link">Регистрация</a></div>
        </div>
        <div class="header-main"><a href="#" class="header-main__logo"><img src="img/logo-new.png" alt="" class="header-main__logo-img"/></a>
          <div class="header-main__search">
            <form>
              <div class="header-main__search-form">
                <input type="text" required="required" class="header-main__search-input"/>
                <input type="submit" value="Поиск" class="header-main__search-submit"/>
              </div>
            </form>
          </div>
          <div class="header-main__contact">
            <address class="header-main__contact-phone"><a href="tel:8 800 707-24-74" class="header-main__contact-phone-link">8 800 707-24-74</a></address>
            <div class="header-main__contact-btn-cont"><a href="#" class="header-main__contact-btn fancybox">Оставить заявку</a></div>
          </div>
        </div>
      </div>
      <nav class="header__menu">
        <div class="wrapper">
          <div class="header__menu-cont">
            <ul class="header__menu-list">
              <li class="header__menu-el"><a href="#popum-menu" class="header__menu-link fancybox active">Получить поддержку</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Горячая линия</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Новости</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Календарь мероприятий</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Получатели поддержки</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Нормативные правовые акты</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Общественные организации</a></li>
              <li class="header__menu-el"><a href="#" class="header__menu-link">Контакты</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
<div id="content">
  <div class="wrapper">
    <div class="main-content">
      <div class="bread-crumbs"><a href="#" class="bread-crumbs__link">Главная</a><span class="bread-crumbs__this">Микрозайм «Старт»</span></div>
      <h1>Микрозайм «Старт»</h1>
      <div class="main-top">
        <div class="main-top__left">
          <div class="calc__cont">
            <div class="calc__top-list">
              <div class="text-page"><b>Субъект поддержки:</b>
                <p>субъекты малого и среднего предпринимательства, зарегистрированные и осуществляющие деятельность на территории Челябинской области <br/>срок деятельности (регистрации): не менее <b>6 мес.</b></p>
                <p>срок деятельности (регистрации): не менее 12 мес.</p><b>Целевое использование:</b>
                <ul>
                  <li>пополнение оборотных средств, финансирование текущей деятельности (включая выплату заработной платы, закуп товаров, исполнение заключенных гос. контрактов и пр.).</li>
                  <li>инвестиционные цели, приобретение новых основных средств, реконструкция, модернизация, ремонт основных средств, строительство зданий и сооружений, приобретение франшизы и др. инвестиционные цели.</li>
                </ul><b>Размер и срок займа:</b>
                <ul>
                  <li>от 100 000 рублей до 1 000 000 рублей.</li>
                  <li>до 18 мес.</li>
                </ul><b>Процентная ставка:</b>
                <p>ключевая ставка Банка России (действующая на день заключения договора) <a href="#">https://www.cbr.ru/ </a>уменьшенная на 0,5% дополнительные комиссии отсутствуют</p><b>Начисление процентов:</b>
                <p>ежемесячно, на остаток ссудной задолженности</p><b>Погашение основного долга:</b>
                <p>ежемесячно (дифференцированный, аннуитетный график)</p>
                <p> <b>Отсрочка </b>уплаты основного долга до <b>3 мес.  </b>Отсутствие моратория на досрочное погашение</p><b>Обеспечение:</b>
                <ul>
                  <li>при сумме <b>до 500 </b>тыс.руб.: <b>поручительство юридических/физических лиц </b>или имущественное обеспечение не менее 100% от основного долга + % за 12 мес.; </li>
                  <li>при сумме <b>свыше 500 </b>тыс. рублей.: <b>имущественное обеспечение не менее 100% </b>от основного долга + % за 12 мес.</li>
                </ul><b>Виды обеспечения:</b>
                <ul>
                  <li>недвижимость (жилая*, нежилая недвижимость, земельные участки);</li>
                  <li>автотранспорт, спецтехника, залог товар в обороте, оборудование**;</li>
                  <li>поручительство физических лиц (в т.ч. супруг/супруга, третьи лица) (в качестве поручителей физических лиц могут выступать физические лица, имеющие постоянный официальный доход, и официальное трудоустройство);</li>
                  <li>поручительство индивидуальных предпринимателей, предприятий и организаций Российской Федерации (в качестве поручителей юридических лиц/индивидуальных предпринимателей могут выступать юридические лица/индивидуальные предприниматели имеющие стабильное финансовое положение).</li>
                </ul><br/>
                <p> <i style="font-size: 12px">* - жилая недвижимость не должна являться единственным жильем залогодателя и не иметь зарегистрированных лиц.</i><br/><i style="font-size: 12px">** дополнительные возможные расходы, связанные с оформлением обеспечения в залог (автотранспорт, спецтехника, оборудование, товар в обороте):</i></p>
                <ul>
                  <li style="font-size: 12px">регистрация уведомления о возникновении залога движимого имущества в Реестре залогов движимого имущества ФНП; </li>
                  <li style="font-size: 12px">оформление нотариального согласия супруга/супруги на залог имущества;</li>
                  <li style="font-size: 12px">страхование от основных рисков.</li>
                </ul><br/>
                <p>Срок действия одобрения: 15 календарных дней</p>
                <ul>
                  <li> <a href="#">АНКЕТА-ЗАЯВЛЕНИЕ Заемщика</a></li>
                  <li> <a href="#">Список документов на микрозайм</a></li>
                  <li> <a href="#">Правила предоставления микрозаймов субъектам малого и среднего предпринимательства</a></li>
                  <li> <a href="#">Программы микрофинансирования</a></li>
                </ul>
              </div>
              <div class="calc__top-btns"><a href="#" class="calc-btn">Подать заявку</a><a href="#" class="calc-btn">Заказать звонок</a><a href="#" class="calc-btn open-calc">Рассчитать займ</a></div>
            </div>
            <div id="calc" class="calc">
              <form v-cloak="v-cloak">
                <calc :id="0" :name="'Микрозайм «Универсальный»'" :otsrok="{min:0,max:3,default:0}" :type="[{id: 0, name: 'Пополнение оборотных средств', min: 100000, max: 1000000, default: 500000, step: 5000, percent: 7.25, srok: {min: 1,max: 18,default: 12,step: 1}}, {id: 1, name: 'Инвестиционные цели', min: 500000, max: 3000000, default: 500000, step: 5000, percent: 7.25, srok: {min: 1,max: 36,default: 24,step: 1}}]" inline-template="">
                  <div>
                    <div class="support-top__info-title">Калькулятор займа</div>
                    <div class="calc__select">
                      <label class="calc__select-label">Тип займа:</label>
                      <select v-model="selected" class="calc__input">
                        <option :value="name.id" v-for="name in type">{{ name.name }}</option>
                      </select>
                    </div>
                    <div v-if="selected != 'default'" class="calc__select">
                      <label class="calc__select-label">График погашения основного долга:</label>
                      <select v-model="curTimetableID" class="calc__input">
                        <option :value="timetable.id" v-for="timetable in timetables">{{ timetable.name }}</option>
                      </select>
                    </div>
                    <div v-show="selected != 'default'" class="calc">
                      <div class="calc__title">Расчёт графика платежей</div>
                      <form>
                        <div class="calc__wrap">
                          <div class="calc__input-cont">
                            <input required="" type="text" v-model.number="curSrok" class="calc__input"/>
                            <label class="calc__label">Срок(мес.):</label>
                            <vue-slider v-model.number="curSrok" :min="curType.srok.min" :max="curType.srok.max" :interval="curType.srok.step"></vue-slider>
                          </div>
                          <div class="calc__input-cont">
                            <input required="" type="text" v-model.number="summ" class="calc__input"/>
                            <label class="calc__label">Сумма(руб.):</label>
                            <vue-slider v-model.number="summ" :min="curType.min" :max="curType.max" :interval="curType.step"></vue-slider>
                          </div>
                          <div class="calc__input-cont">
                            <input type="text" readonly="" v-model="pereplata" class="calc__input"/>
                            <label class="calc__label">Переплата:</label>
                          </div>
                          <div class="calc__input-cont">
                            <input type="text" readonly="" v-model="vsego" class="calc__input"/>
                            <label class="calc__label">Всего:</label>
                          </div>
                        </div>
                        <div class="calc__wrap"> 
                          <div class="calc__input-cont">
                            <vuejs-datepicker :format="'dd.MM.yyyy'" :calendar-button="false" :monday-first="true" :input-class="'calc__input'" v-model="curDate" :value="curDate"></vuejs-datepicker>
                            <label class="calc__label">Дата выдачи:</label>
                          </div>
                          <div class="calc__input-cont">
                            <input type="text" v-model="nextDate" readonly="readonly" class="calc__input"/>
                            <label class="calc__label">Дата погашения:</label>
                          </div>
                          <div class="calc__input-cont">
                            <select type="text" v-model.number="curOtsrok" class="calc__input">
                              <option :value="0">Нет</option>
                              <option :value="i" v-for="i in maxOtsrok">{{ i }}</option>
                            </select>
                            <label class="calc__label">Отсрочка(мес):</label>
                          </div>
                          <div class="calc__input-cont calc__input-cont--button">
                            <div @click="print()" class="calc-btn">Печать графика платежей</div>
                          </div>
                        </div>
                        <div class="calc__table">
                          <table class="calc-table">
                            <thead>
                              <tr>
                                <th>Номер платежа</th>
                                <th>Дата платежа</th>
                                <th>Всего</th>
                                <th>В погашение долга</th>
                                <th>В погашение процентов</th>
                                <th>Остаток долга после платежа</th>
                              </tr>
                              <tr>
                                <th colspan="2">Всего</th>
                                <th>{{ vsego }}</th>
                                <th>{{ itog }}</th>
                                <th>{{ pereplata }}</th>
                                <th> </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(row, i) in tableArr">
                                <td>{{ i+1 }}</td>
                                <td>{{ row.date }}</td>
                                <td>{{ partitionNumber(row.itog) }}</td>
                                <td>{{ partitionNumber(row.forDolg) }}</td>
                                <td>{{ partitionNumber(row.forPersents) }}</td>
                                <td>{{ partitionNumber(row.ostatok) }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </form>
                    </div>
                  </div>
                </calc>
              </form>
            </div>
          </div>
        </div>
        <div class="main-top__right">
          <div class="inn-search inn-search--right">
            <div class="inn-search__lab inn-search__lab--right">Введите ИНН и узнайте о вариантах поддержки вашего бизнеса:</div>
            <div class="inn-search__form inn-search__form--right">
              <form><!--скрытые инпуты сюда-->
                <div class="inn-search__form-cont inn-search__form-cont--right">
                  <input type="text" placeholder="Ваш ИНН" class="inn-search__input inn-search__input--right"/>
                  <input type="submit" value="Найти" class="inn-search__submit inn-search__submit--right"/>
                </div>
              </form>
            </div>
          </div>
          <div class="calendar">
            <div class="calendar__title">Календарь мероприятий</div>
            <div class="calendar-body-cont">
              <div class="calendar-filter">
                <select class="calendar-filter__select calendar-filter__select--month">
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                  <option>Декабрь</option>
                </select>
                <select class="calendar-filter__select calendar-filter__select--year">
                  <option>2010</option>
                  <option>2011</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2014</option>
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                </select>
              </div>
              <div class="calendar-body__padding">
                <div class="calendar-body">
                  <div class="calendar-row"><span class="calendar__cell calendar__cell--another">28</span><span class="calendar__cell calendar__cell--another">29</span><span class="calendar__cell calendar__cell--another">30</span><a href="#" class="calendar__cell calendar__cell--link calendar__cell--selected">1</a><a href="#" class="calendar__cell calendar__cell--link">2</a><a href="#" class="calendar__cell calendar__cell--link">3</a><span class="calendar__cell">4</span></div>
                  <div class="calendar-row"><span class="calendar__cell">5</span><span class="calendar__cell">6</span><span class="calendar__cell">7</span><span class="calendar__cell">8</span><span class="calendar__cell">9</span><span class="calendar__cell">10</span><span class="calendar__cell">11</span>
                  </div>
                  <div class="calendar-row"><span class="calendar__cell">12</span><a href="#" class="calendar__cell calendar__cell--link">13</a><span class="calendar__cell">14</span><span class="calendar__cell">15</span><span class="calendar__cell">16</span><span class="calendar__cell">17</span><span class="calendar__cell">18</span>
                  </div>
                  <div class="calendar-row"><span class="calendar__cell">19</span><span class="calendar__cell">20</span><span class="calendar__cell">21</span><span class="calendar__cell">22</span><span class="calendar__cell">23</span><span class="calendar__cell">24</span><span class="calendar__cell">25</span>
                  </div>
                  <div class="calendar-row"><a href="#" class="calendar__cell calendar__cell--link">26</a><a href="#" class="calendar__cell calendar__cell--link">27</a><a href="#" class="calendar__cell calendar__cell--link">28</a><a href="#" class="calendar__cell calendar__cell--link">29</a><a href="#" class="calendar__cell calendar__cell--link">30</a><a href="#" class="calendar__cell calendar__cell--link">31</a><span class="calendar__cell calendar__cell--another">1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="inner-footer">
  <div class="footer-nav">
    <div class="wrapper">
      <nav class="header__menu-cont header__menu-cont--footer">
        <ul class="header__menu-list header__menu-list--footer">
          <li class="header__menu-el header__menu-el--footer"><a href="#" class="header__menu-link header__menu-link--footer">О центре</a></li>
          <li class="header__menu-el header__menu-el--footer"><a href="#" class="header__menu-link header__menu-link--footer">Новости центра</a></li>
          <li class="header__menu-el header__menu-el--footer"><a href="#" class="header__menu-link header__menu-link--footer">Мероприятия</a></li>
          <li class="header__menu-el header__menu-el--footer"><a href="#" class="header__menu-link header__menu-link--footer">Документы</a></li>
          <li class="header__menu-el header__menu-el--footer"><a href="#" class="header__menu-link header__menu-link--footer">Полезные ссылки</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="wrapper">
    <div class="footer">
      <div class="foote-cont">
        <div class="copy">
          <div class="title">Фонд развития малого и среднего предпринимательства Челябинской области</div><!--.subtitle Отдел поддержки и развития предпринимательства-->
          <address><span>454091, г. Челябинск, у. Российская, 110 к1 (2 этаж)</span><a href="mailto:info@fond74.ru">info@fond74.ru</a></address>
        </div>
        <div class="soc"><a href="#" style="background-image: url('img/icon-soc-vk.png')"></a><a href="#" style="background-image: url('img/icon-soc-fb.png')"></a><a href="#" style="background-image: url('img/icon-soc-inst.png')"></a><a href="#" style="background-image: url('img/icon-soc-ok.png')"></a><a href="#" style="background-image: url('img/icon-soc-gp.png')"></a>
        </div>
        <div class="call">
          <address><a href="tel:8 (351) 263-25-96" class="phone">8 800 707 24 74</a><a href="#call" class="fancybox">Заказать звонок</a></address>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/slick.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/vue-slider-component.umd.js"></script>
<script src="js/vuejs-datepicker.min.js"></script>
<script src="js/common.js"></script>