include inc/header.jade
#content
	.wrapper
		.main-content
			h1 Личный кабинет

			.personal-account
				aside.personal-account__aside
					.personal-account__nav-list
						.nav__item.active
							a(href="#").nav__link Ваши обращения
						.nav__item
							a(href="#").nav__link Доступные виды поддержки
						.nav__item
							a(href="#").nav__link Личные данные
						.nav__item
							a(href="#").nav__link Вопрос-ответ
						.nav__item
							a(href="#").nav__link Ваши новости
						.nav__item
							a(href="#").nav__link Ваши мероприятия
						.nav__item
							a(href="#").nav__link Обучение

				.personal-account__content
					.personal-account__top
						.title Новости
						


					.personal-account__news
						.tags
							a(href="#") Все     
							a(href="#") Предоставление поручительств     
							a(href="#") Агенство инвестиционного развития     
							a(href="#") Фонд развития промышленности
							a(href="#") Центр кластерного развития
							a(href="#") Обучение     
							a(href="#") Имущественная поддержка     
							a(href="#") Программа "Ты - Предприниматель"     
							a(href="#") Консультация     
							a(href="#") Инжиниринговые услуги     
							a(href="#") Поддержка экспорта     
							a(href="#") Предоставление льготных кредитов     
							a(href="#") Центр микрофинансирования

						.personal-account__news-list
							a(href="#").personal-account__news-item
								figure.news-item__img
									img(src="img/no-photo.jpg", alt="")

								.news-item__info
									.data 14.11.2016
									.title Бесплатный мастер-класс «Эффективные технологии сбыта продукции без затрат»
							a(href="#").personal-account__news-item
								figure.news-item__img
									img(src="img/news-photo-1.jpg", alt="")

								.news-item__info
									.data 14.11.2016
									.title VI Всероссийская конференция «Развитие системы инфраструктуры поддержки субъектов
							a(href="#").personal-account__news-item
								figure.news-item__img
									img(src="img/no-photo.jpg", alt="")

								.news-item__info
									.data 14.11.2016
									.title VI Всероссийская конференция «Развитие системы инфраструктуры поддержки субъектов малого и среднего предпринимательства»








include inc/footer.jade  