include inc/header.jade
#content
	.wrapper
		.main-content
			h1 Личный кабинет

			.personal-account
				aside.personal-account__aside
					.personal-account__nav-list
						.nav__item.active
							a(href="#").nav__link Ваши обращения
						.nav__item
							a(href="#").nav__link Доступные виды поддержки
						.nav__item
							a(href="#").nav__link Личные данные
						.nav__item
							a(href="#").nav__link Вопрос-ответ
						.nav__item
							a(href="#").nav__link Ваши новости
						.nav__item
							a(href="#").nav__link Ваши мероприятия
						.nav__item
							a(href="#").nav__link Обучение

				.personal-account__content
					.personal-account__top
						.title Вопрос-ответ
						a(href="#").personal-account__top-link.personal-account__top-link--question Задать вопрос о работе личного кабинета


					.question__list
						.question__item
							.question__item-title
								.title Какие услуги предоставляет Центр поддержки экспорта:

							.question__item-content
								.question-text.text-page

									ol
										li Информационно-консультационная поддержка:
											ol
												li Консультирование по вопросам заключения экспортных контрактов (таможенное оформление товаров, логистика и др.);
												li Консультирование по сертификации продукции на международных рынках;
												li Экспертиза и подготовка экспортных контрактов, их перевод на английский язык;
												li Подготовка коммерческих предложений для иностранных партнеров;
												li Организация обучающих семинаров, мастер-классов, круглых столов по внешнеэкономической деятельности;
										li Услуги по продвижению:
											ol
												li Подготовка, перевод на иностранный язык (языки) презентационных материалов в печатном и электронном виде, распространении указанных материалов.
												li Проведение маркетинговых исследований зарубежных рынков для определения перспектив сбыта российской продукции.
												li Создание и (или) модернизация интернет сайтов на иностранных языках.
												li Организация и проведение конкурса «Лучший экспортер Челябинской области».
										li Зарубежные мероприятия:
											ol
												li Организация международных бизнес-миссий с подбором потенциальных партнеров и организацией индивидуальных деловых встреч.
												li Организация участия в международных выставках с арендой выставочной площади.

						.question__item
							.question__item-title
								.title Стоимость услуг Центра поддержки экспорта

							.question__item-content
								.question-text.text-page

									ol
										li Информационно-консультационная поддержка:
											ol
												li Консультирование по вопросам заключения экспортных контрактов (таможенное оформление товаров, логистика и др.);
												li Консультирование по сертификации продукции на международных рынках;
												li Экспертиза и подготовка экспортных контрактов, их перевод на английский язык;
												li Подготовка коммерческих предложений для иностранных партнеров;
												li Организация обучающих семинаров, мастер-классов, круглых столов по внешнеэкономической деятельности;
										li Услуги по продвижению:
											ol
												li Подготовка, перевод на иностранный язык (языки) презентационных материалов в печатном и электронном виде, распространении указанных материалов.
												li Проведение маркетинговых исследований зарубежных рынков для определения перспектив сбыта российской продукции.
												li Создание и (или) модернизация интернет сайтов на иностранных языках.
												li Организация и проведение конкурса «Лучший экспортер Челябинской области».
										li Зарубежные мероприятия:
											ol
												li Организация международных бизнес-миссий с подбором потенциальных партнеров и организацией индивидуальных деловых встреч.
												li Организация участия в международных выставках с арендой выставочной площади.
						.question__item
							.question__item-title
								.title Условия получения организацией поддержки

							.question__item-content
								.question-text.text-page

									ol
										li Информационно-консультационная поддержка:
											ol
												li Консультирование по вопросам заключения экспортных контрактов (таможенное оформление товаров, логистика и др.);
												li Консультирование по сертификации продукции на международных рынках;
												li Экспертиза и подготовка экспортных контрактов, их перевод на английский язык;
												li Подготовка коммерческих предложений для иностранных партнеров;
												li Организация обучающих семинаров, мастер-классов, круглых столов по внешнеэкономической деятельности;
										li Услуги по продвижению:
											ol
												li Подготовка, перевод на иностранный язык (языки) презентационных материалов в печатном и электронном виде, распространении указанных материалов.
												li Проведение маркетинговых исследований зарубежных рынков для определения перспектив сбыта российской продукции.
												li Создание и (или) модернизация интернет сайтов на иностранных языках.
												li Организация и проведение конкурса «Лучший экспортер Челябинской области».
										li Зарубежные мероприятия:
											ol
												li Организация международных бизнес-миссий с подбором потенциальных партнеров и организацией индивидуальных деловых встреч.
												li Организация участия в международных выставках с арендой выставочной площади.





include inc/footer.jade  